# exclude environment variables
.env

# byte-compiled files
__pycache__/
*.pyc

# flask and other temporary files
instance/
*.log
*.sqlite3

# deployment-specific
.DS_Store
*.pid
*.env
*.idea/
*.vscode/
